h1{
    font-family: sans-serif;
    font-size: 90px;
    text-align: center;
}

.countdown {
    font-family: sans-serif;
    text-align: center;
}

.countdown h2 {
    font-size: 28px;
}

#countdown {
    font-size: 36px;
    font-weight: bold;
}